# Regras de Permissão de Edição

Esta seção descreve as condições necessárias para que o perfil **Representante** realize alterações no sistema.

## 🛠 Alteração de TicketID

O usuário com o perfil **Representante** possui restrições específicas para editar ou alterar registros de `ticketID`. A operação só é permitida se **todas** as condições abaixo forem atendidas simultaneamente:

### Condições Obrigatórias:

1.  **Status do Ticket:**
    * `Pendente` OR `Em Progresso`
2.  **Etapa do Ticket:**
    * `Aguardando Resposta`


O usuário com o perfil **Supervisora** não possui restrições
O usuário com o perfil **Gestor** não possui restrições
O usuário com o perfil **Administrador** não possui restrições




---

> [!IMPORTANT]
> Se o ticket estiver em qualquer outro Status Ticket (ex: Fechado) ou em outra Etapa Ticket (ex: Em Negociação), o acesso de edição para o Representante será **bloqueado**.